@import "reset";
@import "navegador";
@import "titulos";
@import "body-inicio";
@import "footer";
@import "form-contacto";
@import "carousel";

@media (max-width:330px){
  ul{
    flex-wrap: nowrap;
  }
}


@media(max-width:768px){
 .cuadros-texto{
display: flex;
flex-direction: column;
 }
}


@media(max-width:768px){
  .formulario{
    display: flex;
    flex-direction: column;
    
  }
  
.formulario label{
  height: 15px;
  width: 400px;
  display: flex;
  justify-content: center;
  }
.box-mensaje{
  height: 80px;
}

.formulario input{
  border: none;
}
.formulario button{
  height: 40px;
  
}
}

@media(max-width:500px){
  .formulario{
    display: flex;
    flex-direction: column;
    width: 300px;    
  }
  .formulario label{
    height: 15px;
    width: 250px;
    display: flex;
    justify-content: center;
  }}



@media (max-width:768px){
  .carousel-item{
    width: 100%;
    height: 300px;
    object-fit:cover; 
  }
}


@media (max-width:330px){
  .carousel-item{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    
  }
}